@font-face {
  font-family: "HCo Gotham";
  src: url("../fonts/woff2/Gotham-Book_Web-kern-latin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HCo Gotham";
  src: url("../fonts/woff2/Gotham-Medium_Web-kern-latin.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.wrapper .font-gotham {
  font-family: "HCo Gotham";
}

.wrapper .font-10 {
  font-size: 12px;
  line-height: 1.45;
  letter-spacing: 0;
}

.wrapper .font-20 {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0;
}

.wrapper .font-normal {
  font-weight: 400;
}

.wrapper .font-medium {
  font-weight: 500;
}
