.wrapper .row {
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper .row {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
}

.wrapper .row.expanded {
  max-width: none;
}

.wrapper .column,
.wrapper .columns {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.wrapper .column,
.wrapper .columns {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.wrapper .column,
.wrapper .columns {
  flex: 1 1;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  min-width: 0;
}

@media print, screen and (min-width: 48em) {
  .wrapper .column,
  .wrapper .columns {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

@media print, screen and (min-width: 30em) {
  .wrapper .column,
  .wrapper .columns {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
