.wrapper *,
.wrapper ::after,
.wrapper ::before {
  border: 0 solid #101010;
}

.wrapper *,
.wrapper ::after,
.wrapper ::before {
  box-sizing: inherit;
}

.wrapper *,
.wrapper ::after,
.wrapper ::before {
  border: 0 solid #101010;
  border-top-color: rgb(16, 16, 16);
  border-top-width: 0px;
  border-right-color: rgb(16, 16, 16);
  border-bottom-color: rgb(16, 16, 16);
  border-left-color: rgb(16, 16, 16);
}

.wrapper canvas,
.wrapper embed,
.wrapper iframe,
.wrapper img,
.wrapper object,
.wrapper svg,
.wrapper video {
  display: block;
  vertical-align: middle;
}

.wrapper a {
  color: inherit;
  text-decoration: inherit;
}

.wrapper a {
  background-color: transparent;
}

.wrapper a {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}

.wrapper ul {
  list-style: none;
}

.wrapper ul {
  margin: 0;
  padding: 0;
}

.wrapper ul {
  margin: 0;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0;
  list-style: none;
}
