.wrapper {
  .text-gray-dark {
    color: #5c5c5c;
  }

  .text-gray-medium {
    color: #8c8c8c;
  }

  .border-gray-light {
    border-color: #eceff1;
  }

  .border-t {
    border-top-width: 1px;
  }

  .border-b {
    border-bottom-width: 1px;
  }

  .border-l {
    border-left-width: 1px;
  }

  .border-solid {
    border-style: solid;
  }

  .w-full {
    width: 100%;
  }

  .w-1\/2 {
    width: 50%;
  }

  .block {
    display: block;
  }

  .inline-block {
    display: inline-block;
  }

  // Various vendors abuse .hidden with !important.
  // This breaks our styles.
  // As a workaround, I've renamed the .hidden utility.
  .no-leak-hidden {
    display: none;
  }

  .relative {
    position: relative;
  }

  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-grow-0 {
    flex-grow: 0;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .justify-around {
    justify-content: space-around;
  }

  .items-center {
    align-items: center;
  }

  .focus_outline-none:focus,
  .outline-none {
    outline: 0;
  }

  .link-opacity:active,
  .link-opacity:focus,
  .link-opacity:hover {
    opacity: 0.7;
  }

  .hover_underline:hover {
    text-decoration: underline;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .ml-auto {
    margin-left: auto;
  }

  .mr-auto {
    margin-right: auto;
  }

  .px-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .py-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .px-5 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .py-6 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .pb-6 {
    padding-bottom: 16px;
  }

  .pr-7 {
    padding-right: 20px;
  }

  .pt-8 {
    padding-top: 24px;
  }

  .h-7 {
    height: 20px;
  }

  .h-8 {
    height: 24px;
  }

  .w-8 {
    width: 24px;
  }

  .small-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .small-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .small-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .small-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .max-w-full {
    max-width: 100%;
  }

  @media print, screen and (min-width: 30em) {
    .medium-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .medium-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .md_mx-3 {
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  @media print, screen and (min-width: 1024px) {
    .xl_px-5 {
      padding: 0 12px;
    }

    .xl_block {
      display: block;
    }

    .xl_flex {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    .lg_pr-0 {
      padding-right: 0;
    }

    .lg_block {
      display: block;
    }

    .lg_border-t {
      border-top-width: 1px;
    }

    .lg_border-none {
      border: none;
    }

    .lg_py-10 {
      padding: 48px 0;
    }

    .lg_flex {
      display: flex;
    }
  }

  @media (min-width: 0) and (max-width: 768px) {
    .md-down_pb-2 {
      padding-bottom: 6px;
    }

    .md-down_mb-8 {
      margin-bottom: 24px;
    }

    .md-down_border-b {
      border-bottom-width: 1px;
    }

    .md-down_border-gray-light {
      border-color: #eceff1;
    }
  }

  @media print, screen and (min-width: 48em) and (min-width: 48em) {
    .large-expand {
      flex: 1 1;
    }
  }
}
