$grid-col-1-width: 140px;
$grid-col-2-width: 160px;
$grid-col-4-width: 120px;
$grid-col-5-width: 180px;

.header2 {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "sections search nav user promo" "logo logo logo logo logo";
  grid-template-columns: $grid-col-1-width $grid-col-2-width 1fr $grid-col-4-width $grid-col-5-width;

  // * {
  //   border: 1px solid #eceff1;
  // }
}

.sections {
  padding: 10px 16px;
  grid-area: sections;
  display: flex;
  align-items: center;

  button {
    background-color: white;
    padding: 6px 10px;
    border-radius: 0.125rem;
    cursor: pointer;
    display: flex;
    border: 1px solid #101010;

    place-content: center;

    font-family: "HCo Gotham";
    font-weight: 500;
    font-size: 12px;

    svg {
      flex-shrink: 0;
      flex-grow: 0;
      display: inline-block;
      padding-right: 4px;
    }
  }
}

.search {
  grid-area: search;
  display: flex;
  align-items: center;

  // TODO: space this out good
  // border-right: 1px solid black;

  button {
    svg {
      display: inline-block;
      padding-right: 4px;
      flex-shrink: 0;
      flex-grow: 0;
    }

    cursor: pointer;
    padding: 0 12px;
    background-color: white;
    border-right: 1px solid #eceff1;
    height: 100%;

    font-family: "HCo Gotham";
    font-weight: 500;
    font-size: 12px;
  }
}

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: hidden;

  font-family: "HCo Gotham";
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;

  ul {
    margin: 0 auto;
    height: 100%;
    overflow-x: scroll;
    align-items: center;
  }

  ul,
  li {
    list-style: none;
    display: flex;
    white-space: nowrap;
  }

  li {
    padding: 0 8px;
  }
}

.user {
  padding: 10px 16px;
  grid-area: user;
  display: flex;
  place-content: center;
  border-left: 1px solid #eceff1;
  background-color: white;

  button {
    font-family: "HCo Gotham";
    font-weight: 500;
    font-size: 12px;
    background-color: white;
  }
}

.promo {
  grid-area: promo;
  display: flex;
  place-content: center;
  background-color: white;

  button {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #197bc1;
    color: #fff;
    transition: background-color 0.3s ease;
    min-width: 120px;
    min-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    padding: 0 1em;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;
    white-space: normal;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;
    cursor: pointer;
  }
}

.logo {
  border-top: 1px solid #eceff1;
  grid-area: logo;

  display: flex;
  place-content: center;
}

// Mobile styles
@media only screen and (max-width: 1024px) {
  .header2 {
    grid-template-areas: "sections logo user" "promo promo promo";
    grid-template-columns: minmax(0, 1fr) 2fr minmax(0, 1fr);
  }

  .nav {
    display: none;
  }

  .search {
    display: none;
  }

  .promo {
    padding: none;

    button {
      width: 100%;
      border-radius: 0;
    }
  }

  .logo {
    border-top: none;
  }
}

.rollerOverlay {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  content: " ";
  right: 0;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.01) 0, #fff);
}
