.wrapper {
  .masthead {
    max-width: none;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
  }

  .masthead-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
  }

  @media print, screen and (min-width: 30em) {
    .masthead-logo {
      width: 240px;
      padding: 24px 0;
    }
  }

  @media print, screen and (min-width: 48em) {
    .masthead-logo {
      width: 335px;
      padding: 24px 0;
    }
  }
}
