.navbar {
  min-height: 48px;
}

@media screen and (min-width: 64em) {
  .navbar-segment-left {
    flex-basis: 230px;
    flex-shrink: 2;
    flex-grow: 1;
  }
}

@media screen and (min-width: 64em) {
  .navbar-segment-center {
    flex-basis: auto;
    flex-grow: 2;
    flex-shrink: 1;
  }
}

/* TODO: fix this behavior */
.navbar-section-center {
  display: none;
}

@media screen and (min-width: 64em) {
  .navbar-section-center {
    display: block;
  }
}

.top-level-link {
  justify-content: center;
  align-items: center;
  display: flex;
}

.top-level-link,
.top-level-link:focus {
  outline: 0;
}

.nav-link {
  min-width: 0;
  transition: opacity 0.3s ease;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.05em;
  font-size: 12px;
  line-height: 1.45;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 64em) {
  .navbar-segment-right {
    flex-basis: 230px;
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.focus_outline-none:focus,
.outline-none {
  outline: 0;
}